.sso-toggle {
    display: block;
}
.welcome-txt {
    color: black;
    padding-top: 15px;
    font-size: 18px;
    text-align: left;
}
.back-icon {
    i {
        display: inline-block;
        text-decoration: none !important;
        color: blue;
        padding-right: 5px;
    }
}
.resend-link {
    padding-right: 10px;
}
