.vitals-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .btn-vital {
        border: 0;
        cursor: pointer;
        outline: none;
        background: 0;
        color: #033c73;
    }
}

.formElements-vitals {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    text-align: left;
    border-bottom: 1px solid #eee;

    .formElement {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: 100%;
        padding: 20px;
        text-transform: capitalize;
        border-collapse: collapse;

        &:nth-child(even) {
            border-left: 1px solid #eee;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
        }

        &:nth-child(odd) {
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
            border-width: 1px 0px 0px 1px;
        }

        input,
        select,
        textarea {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            border: 0;
            background: rgba(223, 228, 234, 0.3);
            padding: 5px;
            outline: 0;
        }
    }
}

.other-details {
    display: flex;
    margin: 20px;
}
