.side-nav {
    .search-grp {
        margin: 10px;
    }
    .schedule-container {
        margin-top: 10px;
        height: 85vh;

        .title {
            text-transform: uppercase;
            line-height: 2;
            color: rgba(0, 0, 0, 0.7);
            font-weight: 100;
            font-size: 1rem;
            padding: 10px 5px 5px 15px;
            vertical-align: middle;
            border-bottom: 0.5px solid lightgray;

            .s-icon {
                font-size: 1.4rem;
                vertical-align: sub;
                padding-right: 5px;
            }
        }

        .datepicker-poper {
            z-index: 16;
            font-weight: 300;
            margin-top: 0;
            left: -140px !important;
        }
    }
    .list-item {
        padding: 15px;
        cursor: pointer;
        border-radius: 0;
        .primary {
            .p-name {
                color: black;
                font-size: 16px;
            }
            .meta-info {
                font-size: 12px;
            }
            .p-walkin {
                font-size: 12px;
                text-align: right;
            }
        }
    }
    .list-item:hover {
        background-color: #ececec;
    }
}
